name: Build QA Image

on:
  push:
    branches: ["qa"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/qa-app:v2 .

      - name: Push Docker image
<<<<<<< HEAD
        run: docker push ${{ secrets.DOCKER_USERNAME }}/qa-app:v2
=======
        run: docker push ${{ secrets.DOCKER_USERNAME }}/qa-app:v2 
>>>>>>> 871416ddb463307567f655c29bfa318bf3568fc9
